include mixins
- var url = 'https://cdn.rawgit.com/bernatfortet/Ancient/master/app/'


br
<iframe width="620" height="348" src="https://www.youtube.com/embed/LShYWjYa8J4" frameborder="0" allowfullscreen></iframe>

+h3-double( 'Acerca de este proyecto')

div(style="float:left; width:410px")
	p Hola, mi nombre es <strong>Jacqueline Unanue</strong>, soy una artista visual chilena-española-americana. Vivo en Filadelfia, PA, Estados Unidos.

	p <strong>Mi exposición itinerante comprende 3 países</strong>. La serie Mi Antigua Tierra  está inspirada en la música de compositores clásicos chilenos  y en en mis experiencias multiculturales.

img(style="float:left; margin-left:20px;", src=url+"images/jac.png")


img(src=url+"images/summary_esp.png")


+h3-double( 'Resumen de Obsequios')
img(src=url+"images/perk_summary.jpg")


+h3-double( 'Exposición', 'Piezas principales')

p La exposición está compuesta de 24 obras, 7 de ellas son realmente grandes 

img(src=url+"images/main.gif")


+h3-double( 'Exposición', 'Las piezas')

p Estas son todas la piezas.

img(src=url+"images/collage.jpg")


p Ver más 
	a(href="http://jacquelineunanue.com/work/my-ancient-land-%7C-inspired-by-chilean-composers-%282013%E2%80%932014%29?page=3") aqui.


+h3-double( 'Inspiración', 'Compositores Clásicos Chilenos')

div(style="width:620px; overflow:hidden;")
	p Inmersa en estas obras musicales, mientras pintaba, sentí fluir la música físicamente hacia mí y me enontré expresándome a través de sus movimientos y de mis propias emociones, mediante trazos libres y espontáneos, generando pinturas musicales y gestuales. 
	p He sido influenciada por renombrados compositores clásicos chilenos. Entre ellos: 

	+composer( 'René Amengual', 'amengual', 'http://www.youtube.com/watch?v=iTdU0ZYVzGA', 'http://en.wikipedia.org/wiki/Ren%C3%A9_Amengual' )
	+composer( 'Jorge Urrutia Blondel', 'urrutia', 'http://www.youtube.com/watch?v=PXaawKM-OWk', 'http://es.wikipedia.org/wiki/Jorge_Urrutia_Blondel' )
	+composer( 'Eulogio Dávalos ', 'davalos', 'http://www.youtube.com/watch?v=5IJng-JL2Jw', 'http://es.wikipedia.org/wiki/Eulogio_D%C3%A1valos_Llanos' )

	+composer( 'Juan Orrego-Salas', 'orrego', 'http://www.youtube.com/watch?v=IQQWMVnL5mE', 'http://en.wikipedia.org/wiki/Juan_Orrego-Salas' )
	+composer( 'Enrique Soro', 'soro', 'http://www.youtube.com/watch?v=b9MliCbTqyc', 'http://es.wikipedia.org/wiki/Enrique_Soro' )
	+composer( 'Sylvia Soublette ', 'sylvia', 'http://www.youtube.com/watch?v=ocuOWDH7ekc', 'http://es.wikipedia.org/wiki/Sylvia_Soublette' )



+h3-double( 'Inspiración', 'Mi país Chile, España y Estados Unidos')
	
p <strong>Chile, el país donde nací</strong> y donde me desarrollé artísticamente, está firmemente grabado en mi memoria.Los colores que he usado, sugieren -en un modo abstracto-, mis recuerdos de la geografía, de la vegetación, del desierto, del océano, y del firmamento chilenos.
p <strong>Esos recuerdos se entremezclan</strong> con las vivencias obtenidas durante mis frecuentes <strong>viajes a España</strong> para conectarme con mis raíces ancestrales paternas, así como también con la <strong>experiencia en los Estados Unidos</strong>, donde he vivido por casi quince años y donde he seguido desarrollando una visión artística surgida desde mis <strong>vivencias multiculturales</strong>. 

img(src=url+"images/inspiration_land.jpg")



+h3-double( 'Obsequios', 'Share a multicultural experience!')
include perks_esp


+h3-double( 'Exposiones', 'Lugares y fechas')

p 1- Embajada de Chile, Washington DC, Estados Unidos. <strong>18 de Marzo- 4 de Abril, 2015 </strong>. 
	a(href="http://chileabroad.gov.cl/estados-unidos/ ") http://chileabroad.gov.cl/estados-unidos/ 

p 2- Sala Viña del Mar, Viña del Mar, Chile. <strong>14 de Abril- 9 de Mayo, 2015</strong>. 
	a(href="http://www.culturaviva.cl/") http://www.culturaviva.cl/

p 3- Centro Cultural La Casa Elizalde, Barcelona, España. <strong>15 de Septiembre- 16 de Octubre, 2015</strong>. 
	a(href="http://www.casaelizalde.com/ ") http://www.casaelizalde.com/


+h3-double( 'Acerca de la artista')
	
p <strong>Jacqueline Unanue</strong> nació en Chile y estudió diseño en la Universidad de Chile de Valparaíso. Viajó extensamente , realizando investigación en sitio a través del desierto de Atacama, Chile y a las cuevas de Altamira en España.
p Además de numerosas exposiciones individuales y colectivas en Chile desde 1983, también ha expuesto en España, Finlandia, Ecuador, Argentina y Estados Unidos -en galerías de Washington DC, Filadelfia, Chicago y Nueva York. 
p Vive en Filadelfia, PA, Estados Unidos, donde es representada por la 
	a(href="http://www.3rdstreetgallery.com/") 3 ª Street Gallery.

p
	a(href="http://www.jacquelineunanue.com/", title="Jacqueline Unanue") Para más información visita su website




	
+h3-double( 'Los Costos')
p Mi meta es recaudar a través de esta campaña al menos US $ 9,600 de los fondos que necesito para pagar mis viajes, transporte, y montaje de mis exposiciones.
ul
	li Pasaje de avión a Chile  & España <strong>USD $ 3,000</strong>
	li Tansporte de mis obras <strong>USD $ 1,900</strong>
	li Enmarcado de mis obras en papel para Chile & España <strong>USD $2,000</strong>
	li Folleto, un diseño para exposiciones: en Chile y España <strong>USD $ 600</strong>
	li Estadía <strong>USD $ 900</strong>
	li Video promocional <strong>USD $300</strong>
	li Honorarios y gratificaciones IndieGoGo <strong>USD $900</strong>



p(style="font-style:italic;") <strong>Nota:</strong> Si vuestras donaciones exceden mi meta de al menos $9,600, usaré ese excedente para costear los gastos de materiales con los que he producido esta serie de pinturas.



p
	| Video: 
	a(href="http://www.ignacioguajardo.com/", title="Ignacio Guajardo") Ignacio Guajardo Unanue
	|  | Design campaña: 
	a(href="http://www.bernatfortet.com/", title="Bernat Fortet") Bernat Fortet Unanue
